{{#partial "content"}}

    <form action="/add-users" method="post" >
        <div class="form-group">
            <label for="formGroupExampleInput">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Position</label>
            <input type="text" class="form-control" id="position" name="position" placeholder="Position">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Role</label>
            <input type="text" class="form-control" id="role" name="role" placeholder="Role">
        </div>
        <div class="form-group">
            <label for="squad">Department</label>
            <select class="form-control" id="department" name="department">
                {{#if department}}
                    {{#each department}}
                        <option value="{{id}}">{{departmentName}}</option>
                    {{/each}}
                {{/if}}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>

{{/partial}}
{{>layout.hbs}}